.button{
    outline: none;
    padding: 10px 22px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.button_offer{
    border-radius: 20px;
    background: linear-gradient(-45deg, #ff1949 0%, #ffa10e 100%);
    color: #ffffff;
    font-size: 14px;
    padding: 14px 20px;
}
