section.container.about
    //- img(src="img/about-background.png", alt="рисунок")
    .container__title Мы умеем торговаться!
    .row
        .col-lg-6
            .about__carousel.owl-carousel.owl-theme
                .about__carousel-item.mx-auto.mx-lg-0
                    .d-flex.justify-content-between.align-items-center.mb-4
                        .about__carousel-title
                            span.d-none.d-md-inline Модель
                            span KIA Cee’d
                        a.link.link-about(href="#", download) Скачать PDF -
                    img.about__img.img-fluid(src="img/car1.png")
                    .d-flex.justify-content-center.justify-content-md-end
                        .about__price-start Цена начальная:
                            div(style="margin-top:6px")
                                span.value 1 137 900
                                span(style="font-size:15px") руб.
                        .about__price-end Цена итоговая:
                            div
                                span.value 910 320
                                span(style="font-size:15px") руб.
                .about__carousel-item.mx-auto.mx-lg-0
                    .d-flex.justify-content-between.align-items-center.mb-4
                        .about__carousel-title
                            span.d-none.d-md-inline Модель
                            span KIA Sorento Prime
                        a.link.link-about(href="#", download) Скачать PDF -
                    img.about__img.img-fluid(src="img/car2.png")
                    .d-flex.justify-content-center.justify-content-md-end
                        .about__price-start Цена начальная:
                            div(style="margin-top:6px")
                                span.value 1 137 900
                                span(style="font-size:15px") руб.
                        .about__price-end Цена итоговая:
                            div
                                span.value 910 320
                                span(style="font-size:15px") руб.
        .col-lg-6
            p.offer__text Наша компания специализируется на профессиональном подборе новых автомобилей. Знание специфики работы дилерских центров позволяет выявлять нарушения и находить предметы  для торга уже 
                | в самом начале ведения переговоров о цене за новый автомобиль.

            p.offer__text Контроль хода сделки и проверка документов - одна из наших основных задач. Штат наших юристов проверят договор до каждой запятой. Таким образом вы получите 100% гарантию на безопасность сделки, а в случае форс мажора всегда сможете вернуть потраченные средства.

            p.offer__text В зоне выдачи машины мы проверяем предмет договора на наличие технических неисправностей и помогаем получить дополнительные условия, вплоть до замены автомобиля на другой.

            p.offer__text Мы заставим работать официальных дилеров на вас и поможем получить лучшие условия на рынке.             
