@media (min-width: 1200px),(min-device-width:1200px)
{
    .container {
        max-width: 1170px;
    }
}

.container_header-top{
    margin-bottom: 70px;
}

.container__title{
    color: #222328;
    text-align: center;
    font-size: 35px;
    font-family: "Gotham Pro - Black";
    margin: 0px;
    margin-bottom: 45px;
}


.container_advantage {
    margin-top: 95px;
    margin-bottom: 50px;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .container_advantage {
        margin-top: 35px;
        margin-bottom: 30px;
    }
}

.container_price{
    margin-top: 50px;
    margin-bottom: 100px;
}
