.bg-block.bg-block_yellow
section.container.container_price
  h2.container__title Стоимость услуг подбора автомобиля
  .d-flex.flex-wrap.justify-content-around
    .price__guarantee.col-xl-3.d-flex.flex-wrap.justify-content-center.align-items-center.align-content-xl-center
      .price__guarantee-percent 100%
      .price__guarantee-tilda.px-2.pl-xl-4 ~
      div Окупим затраты на наши услуги
    .d-flex.col-xl-9.flex-wrap.flex-lg-nowrap.justify-content-around.justify-content-lg-between
      .price
        .price__name Проверка автомобиля в зоне выдачи
        .price__description Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия.
        .price__amount 
          span.price__val 2500
          span руб
        button.button.button_filled Заказать
      .price
        .price__name День с экспертом Expertnewcar
        .price__description Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия.
        .price__amount 
          span.price__val 6000
          span руб
        button.button.button_filled Заказать
      .price
        .price__name Помощь в покупке #[br] (под ключ)
        .price__description Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия.
        .price__amount 
          span.price__val 12000
          span руб
        button.button.button_filled Заказать
