section.container.container_advantage
  .row.align-content-stretch
    .col-xl-8.d-flex.justify-content-xl-between.justify-content-around.flex-wrap.flex-md-nowrap.mx-md-0.mx-sm-5
      .advantage
        h3.advantage__title 15
        h3.advantage__description Летний опыт в автобизнесе
      .advantage
        h3.advantage__title 800
        h3.advantage__description Более 800 довольных клиентов
      .advantage
        h3.advantage__title 48
        h3.advantage__description Выявленных серых схем
      .advantage
        h3.advantage__title 68
        h3.advantage__description Автомобилей заменено на выдаче
    .col-xl-4.d-flex.align-content-center.justify-content-xl-end.justify-content-center.text-center.text-sm-left
        h3.advantage__trust Поэтому нам доверяют!
  .line
