footer.footer
    .footer__bottom
    .container
        .row.d-flex.justify-content-between
            .col-lg-4.px-0
                .footer__left
                    .site-name
                        img(src="img/site-logo.png", alt="Expertnewcar")
                        h2 Expertnewcar
            .col-lg-8.footer__right
                .footer__links
                    a.link.message-icon.link_phone(href="mailto:info@expertnewcar.ru") info@expertnewcar.ru
                    a.link.phone-icon.link_phone(href="tel:+79645652525") +7 (964) 565-25-25
                    a.link.phone-icon.link_phone(href="tel:+79645652525") +7 (964) 565-25-25
                .d-flex.justify-content-around.my-3.flex-wrap
                    .footer__label.mx-1.text-center Ⓒ 2017-2018, Все права защищены! Expertnewcar.ru
                    a(href="http://web-comp.ru")
                        img(src="img/web-comp.png", alt="Сайт разработан web-comp.ru")
