footer.footer
    .container
        .row.d-flex.justify-content-between
            .col-md-5.px-0
                .footer__left
                    .site-name
                        img(src="img/site-logo.png", alt="Expertnewcar")
                        h2 Expertnewcar
            .col-md-7.footer__right
                .footer__links
                    a.link.message-icon(href="mailto:info@expertnewcar.ru") info@expertnewcar.ru
                    a.link.phone-icon(href="tel:+71234567890") +7 (123) 456-78-90
                .footer__label.text-right.mt-4 Ⓒ 2017-2018, Все права защищены! Expertnewcar.ru
