.footer{
    position: relative;
}

@media (max-width:1366px), (max-device-width:1366px) {
    .footer > .container{
        max-width: 100% !important;
        width: 100% !important;
        padding: 0px;
        padding-right: 15px;
    }
}

.footer__left{
    background: linear-gradient(to top, #0e1853 0%, #000735 100%);
    border-radius: 0 150px 0 0 / 0 calc(100% - 10px) 0 0;
    height: 100%;
    min-height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .footer__bottom{
        display: none;
    }
}

@media (max-width:992px),(max-device-width:992px) {
    .footer__left{
        border-radius: 0px;
        width: 100%;
    }
}


.footer__right{
    border-top: 1px solid #7c7c7c;
    padding-top: 44px;
}

.footer__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__links *:not(:last-child){
    margin:0px 10px;
}

.message-icon{
    position: relative;
    padding-left: 30px;
}

@media (max-width:865px),(max-device-width:865px) {
    .message-icon{
        margin-right: 0px;
    }

    .footer__links{
        justify-content: space-around;
    }

}

.phone-icon{
    position: relative;
    padding-left: 25px;
}

.message-icon::before{
    content: "";
    position: absolute;
    width: 23px;
    height: 18px;
    left: 0px;
    top: 6px;
    background: url("img/message.png") no-repeat center / cover;
}

.phone-icon::before{
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0px;
    top: 4px;
    background: url("img/phone.png") no-repeat center / cover;
}

.footer__label{
    color: #000735;
    font-size: 14px;
}

.footer__bottom{
    height: 146px;
    position: absolute;
    bottom: 0%;
    width: calc(50% - 480px);
    left: 0%;
    background: linear-gradient(to top,#0e1853 0,#000735 100%);
}
