.link{
    color: #000735;
    font-size: 19px;
}

.link-about{
    position: relative;
    color: #222328;
    font-size: 11px;
    font-weight: 500;
    padding-right: 40px;
}

.link-about::after{
    position: absolute;
    content: "";
    width: 21px;
    height: 24px;
    right: 11px;
    top: -11px;
    background: url("img/pdf.png") no-repeat center / contain;
}
