doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main.text-center.text-md-left
            include ../blocks/offer/offer.jade
            
                
        
        include ../blocks/footer/footer.jade
