doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main.text-center.text-md-left
            include ../blocks/advantage/advantage.jade
            include ../blocks/about/about.jade
            include ../blocks/service/service.jade
            include ../blocks/offer/offer.jade
            include ../blocks/price/price.jade
        
        include ../blocks/footer/footer.jade
        //- include ../blocks/popup/popup.jade
            
