.line
section.container
  h2.container__title Наши услуги включают:
  .service__container
    .service
      .service__img.service__img_paint
      .service__title Проверка лакокрачного покрытия и геометрии кузова
      .service__description Выявление повторно окрашенных кузовных элементов, нарушение геометрии кузова, снятия-установки элементов.
    .service
      .service__img.service__img_used
      .service__title Выявление следов эксплуатации автомобиля
      .service__description Степень износа ходовой части, рулевого управления, тормозов, тщательный осмотр днища, проверка рабочих жидкостей.
    .service
      .service__img.service__img_contract
      .service__title Проверка договоров и документов автомобиля
      .service__description Проверка идентификационных номеров и документов. Проверка договора на наличие скрытых комиссий.
    .service
      .service__img.service__img_equipment
      .service__title Проверка комплектации
      .service__description Проверим заявленную комплектацию автомобиля и наличие дополнительного оборудования.
    .service
      .service__img.service__img_expert
      .service__title Личное присутствие
      .service__description Присутствие эксперта на всех этапах совершения сделки, между клиентом и автосалоном (дилером).
    .service
      .service__img.service__img_bargain
      .service__title Умелый торг с продавцом
      .service__description Обоснованные переговоры о цене с максимальным прожатием стоимости. Торг проходит на разных этапах сделки.
