*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.site-name{
    display: flex;
    align-items: flex-end;
}

.site-name > h2{
    color: #ffffff;
    font-size: 30px;
}

.line{
    width: 2px;
    height: 100px;
    background-image: linear-gradient(to top, #ff1949 0%, #ffa10e 100%);
    margin: 0px auto;
}
