noscript
    p Пожалуйста, включите Javascript
    
header.header
    img.img-fluid.header__img(src="img/header-car.png", alt="Мы лучшие на рынке!")
    .container.container_header-top
        .row.justify-content-between
            .col-lg-3.px-0
                .site-name.justify-content-center.justify-content-lg-end.mb-4.mb-lg-0
                    img(src="img/site-logo.png", alt="Expertnewcar")
                    h2.text-black Expertnewcar*
            .col-lg-6.align-self-center.mb-2.mb-lg-0
                h3.header__subtitle.text-center Помощь в приобретении новых автомобилей.
            .col-lg-3.d-flex.flex-column.align-items-end.px-0
                a.link.link_phone.phone-icon.mb-2.d-block.text-white.mx-auto.mx-lg-0(href="tel:+79645652525") +7 (964) 565-25-25
                a.link.link_phone.phone-icon.mb-2.d-block.text-white.mx-auto.mx-lg-0(href="tel:+79645652525") +7 (964) 565-25-25
    .container.py-4.py-xl-0
        .row
            .col-xl-5.d-none.d-xl-block
                div(style="width:560px; height:460px")
            .col-xl-7
                h2.header__title Снизим стоимость автомобиля до 30%
                h2.header__title Сопроводим на всех этапах сделки
                h2.header__title Исключим серых дилеров
                button.button.button_call.button_call-big
                    span Интересно? Звоните!
                    
                
