.popup__background{
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  border-radius: 25px;
  padding: 30px;
  background: linear-gradient(0deg, #000735, #0e1853);
  z-index: 101;
}

.popup__close{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: linear-gradient(-45deg, #ff1949 0%, #ffa10e 100%);
  transform: translate(50%, -50%);
  cursor: pointer;
}
.popup__close::before{
  color: #ffffff;
  font-family: "Gotham Pro - Black";
  content: "X";
  position: absolute;
  font-size: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__label{
  color: #ffffff;
  font-family: "Gotham Pro - Black";
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.popup__submit{
  display: block;
  width: 100%;
  height: 40px;
}
